<html>

    <style>
        .column-left { float: left; width: 60%; padding-right: 100px } .column-right { float: left; width: 15%; }
    </style>

    <head>
        <meta charset="utf-8" />
        <title>Annotate</title>
        <link rel="stylesheet" href="./../css/style.css">
    </head>
    <body>
        <div class="topnav">
            <a href="../">Home</a>
            <a href="./candidates">Candidates</a> 
            <a href="./me">Profile</a>
        </div>
        <h3>Annotate</h3>
        <div class="container">
            <div class="column-left">{{transcript}}</div>
            <div class="column-right">
                <form>
                    <textarea></textarea>

                    <label for="speaker">Choose a speaker:</label>
                    <select name="speaker" id="speaker">
                        {{#each speakers}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>

                    <label for="label">Choose a label:</label>
                    <select name="label" id="label">
                        {{#each labels}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>

                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>

    </body>

</html>
