<html>
    <style>
        .column-left { float: left; width: 60%; padding-right: 100px } .column-right { float: left; width: 15%; }
    </style>
    <head>
        <meta charset="utf-8" />
        <title>Transcript</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="topnav">
            <a href="../">Home</a>
            <a href="./candidates">Candidates</a>
            {{#if loggedin}}
                <a href="./me">Profile</a>
            {{else}}
                <a href="./login">Log In</a>
                <a href="./register">Register</a>
            {{/if}}
        </div>
        <h3> Title </h3>
        <div class="container">
            <div class="column-left">{{transcript}} </div>
            <div class="column-right">
                <form>
                    <label for="speaker">Choose a speaker:</label>
                    <select name="speaker" id="speaker">
                        {{#each speakers}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>
                    <br />
                    <label for="tag">Choose a label/tab:</label>
                    <select name="tag" id="tag">
                        {{#each labels}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>
                    <textarea
                        name="annotationText"
                        rows="20"
                        cols="50"
                        placeholder="Enter annotation"
                        required
                    ></textarea>
                    <input type="submit" value="Submit" />
                </form>
                <br />
                <h3> Issues </h3>
                <div class="piechart"></div>
            </div>
        </div>
    </body>
</html>
