<html>
    <style>
        .column-left { float: left; width: 60%; padding-right: 100px } .column-right { float: left; width: 15%; }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Issue', 'Characters'],
                ['Undefined', 0],
                ['Abortion', 50],
                ['Guns', 30],
                ['LGBT Rights', 50],
                ['Racial Justice', 25]
            ]);

            var options = {
            title: ''
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

    <head>
        <meta charset="utf-8" />
        <title>Transcript</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="topnav">
            <a href="../">Home</a>
            <a href="./candidates">Candidates</a> 
            {{#if loggedin}}
            <a href="./me">Profile</a>
            {{else}}
            <a href="./login">Log In</a>
            <a href="./register">Register</a>
            {{/if}}
        </div>
        <h3> Title </h3>
        <div class="container">
            <div class="column-left">{{transcript}} </div>
            <div class="column-right">
                <form>
                    <textarea></textarea>

                    <label for="speaker">Choose a speaker:</label>
                    <select name="speaker" id="speaker">
                        {{#each speakers}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>

                    <label for="label">Choose a label:</label>
                    <select name="label" id="label">
                        {{#each labels}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                    </select>

                    <input type="submit" value="Submit" />
                </form>
                <br>

                <h3> Issues </h3>
                <div id="piechart" style="width: 800px; height: 500px;"></div>

            </div>        
        </div>
    </body>
</html>
